
:root {
    --primary-color: #2E2F42;
    --secondary-color: #FFFFFF;
    --primary-text-color: #434455;
    --footer-studio-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --accent-color: #4D5AE5;
}

body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.5;
}
a {
text-decoration: none;
}
ul {
    list-style: none;
}

/* header */
.logo-header {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.logo-header:focus,
.logo-header:hover {
    color: var(--primary-color);
}
.logo-header-studio {
    color: var(--primary-color);
}
.logo-header-studio:focus,
.logo-header-studio:hover {
    color: var(--accent-color);
}
.site-nav .link {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
.contact-nav a{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
}
.contact-nav a:focus,
.contact-nav a:hover {
    color: var(--accent-color);
}

/* hero */
.hero {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
}
.hero-button {
    color: var(--secondary-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
}

/* sections (excluding "Our team") */
.section {
    background-color: var(--secondary-color);
}
.section-title {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    
}
.section-list .item-title {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

/* our team */
.ourteam {
    background-color: var(--footer-studio-color);
}

/* footer */
footer {
    color: var(--footer-text-color);
    background-color: var(--primary-color);
}
.logo-footer {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.logo-footer:focus,
.logo-footer:hover {
    color: var(--footer-studio-color);
}
.logo-footer-studio {
    color: var(--footer-studio-color);
}
.logo-footer-studio:hover,
.logo-footer-studio:focus {
    color: var(--accent-color);
}

/* portfolio buttons-filters */
.portfolio-button {
    border: none;
    background-color: var(--footer-text-color);
    color: var(--accent-color);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: 600;
}
.portfolio-button:focus,
.portfolio-button:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}